<footer class="footer">
  <div class="container-footer">
    <div class="footer-left">
      <div class="logo-nome">
        <img src="assets/logo.png" alt="Logo PH Barbearia" class="footer-logo">
        <h3 class="footer-nome">PH Barbearia Clássica</h3>
      </div>
      <button class="btn-footer" (click)="agendar()">Agendar Horário</button>
      <p class="footer-copyright">
        &copy; 2025 PH Barbearia Clássica. Todos os direitos reservados.
      </p>
    </div>

    <div class="footer-right">
      <h3 class="footer-titulo">Horário de Funcionamento</h3>
      <ul class="horarios">
        <li>Domingo: Fechado</li>
        <li>Segunda-Feira: 08:00 - 20:30</li>
        <li>Terça-Feira: 08:00 - 20:30</li>
        <li>Quarta-Feira: 08:00 - 20:30</li>
        <li>Quinta-Feira: 08:00 - 20:30</li>
        <li>Sexta-Feira: 08:00 - 20:30</li>
        <li>Sábado: 08:00 - 12:00</li>
      </ul>
      <p class="almoco">*Horário de almoço: 12:00 - 13:00</p>
    </div>
  </div>
</footer>
