<section id="contato" class="contatos">
  <div class="container-contatos">
    <!-- Bloco Localização -->
    <div class="bloco-localizacao">
      <h3 class="titulo-bloco">Localização</h3>
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d535.4112478261688!2d-54.56644803289755!3d-25.47824638154886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f69af5491b451d%3A0x37f7080e48123a78!2sR.%20Corupa%20-%20Jardim%20Jasmim%2C%20Foz%20do%20Igua%C3%A7u%20-%20PR%2C%2085869-630!5e0!3m2!1spt-BR!2sbr!4v1757897242037!5m2!1spt-BR!2sbr" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
      <p>
        <a href="https://www.google.com/maps/place/R.+Corupa+-+Jardim+Jasmim,+Foz+do+Iguaçu+-+PR,+85869-630/@-25.4782464,-54.566448,19.75z/data=!4m6!3m5!1s0x94f69af5491b451d:0x37f7080e48123a78!8m2!3d-25.4779501!4d-54.5665162!16s%2Fg%2F1ymwxp93_?entry=ttu&g_ep=EgoyMDI1MDkxMC4wIKXMDSoASAFQAw%3D%3D" target="_blank">
          Rua Corupá, Jardim Jasmin (Ipê), Foz do Iguaçu - PR, CEP: 85869-630
        </a>
      </p>
    </div>

    <!-- Bloco Contatos -->
    <div class="bloco-contatos">
      <h3 class="titulo-bloco">Contatos</h3>
      
      <!-- WhatsApp -->
      <p>
        <a href="https://wa.me/+554598573445" target="_blank" class="link-contato">
          <img src="assets/whatsapp.png" alt="WhatsApp" class="icone-contato" />
          PH Barbearia Clássica
        </a>
      </p>

      <!-- Instagram -->
      <p>
        <a href="https://www.instagram.com/patrick.h_barber" target="_blank" class="link-contato">
          <img src="assets/instagram.png" alt="Instagram" class="icone-contato" />
          &#64;patrick.h_barber
        </a>
      </p>

      <!-- Telefone -->
      <p>
        <a href="tel:+554598573445" class="link-contato">
          <img src="assets/telefone.png" alt="Telefone" class="icone-contato" />
          +55 (45) 9857-3445
        </a>
      </p>
    </div>
  </div>
</section>
