<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <img src="assets/logo.png" alt="Logo" class="navbar-logo" />
    <a class="navbar-brand" href="#">PH Barbearia Classica</a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleMenu()"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      [class.show]="menuAberto"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link" href="#">Sobre</a>
        <a class="nav-link" href="#">Serviços</a>
        <a class="nav-link" href="#">Contato</a>
        <a class="btn-conta" href="#">Minha Conta</a>
      </div>
    </div>
  </div>
</nav>