<main class="pagina-principal">
  <app-navbar ></app-navbar>

  <div class="hero-content">
    <h1 class="slogan">
      Estilo clássico,<br />
      cuidado moderno.<br />
    </h1>
    <h1 class="sub-slogan">Feita para quem valoriza tradição e qualidade.</h1>

    <button
      type="button"
      class="btn-agendar btn-primary btn-lg"
      (click)="abrirModal()"
    >
      Agendar Horário
    </button>
  </div>

<app-agendamento 
  [showModal]="showModal" 
  (modalClosed)="fecharModal()">
</app-agendamento>