//pagina principal
.pagina-principal {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/assets/fundo.png");
  background-size: cover;   
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed; /* faz o fundo ficar fixo */
}

.pagina-principal::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 0;
}

.pagina-principal > * {
  position: relative;
  z-index: 1;
}

.btn-agendar {
  max-width: 30%;
  font-size: 1.4rem; 
  padding: 20px 20px;
  background-color: #BC9E5F;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  border: none;
  outline: none;
  box-shadow: none;
  transition: 0.3s;
}

.btn-agendar:hover {
  background-color: #b8962e;
  color: #fff;
  box-shadow: none;
}

.btn-agendar:focus,
.btn-agendar:active {
  outline: none;
  box-shadow: none;
}

.hero-content {
  margin-left: 50px;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slogan {
  font-size: 4rem;
  color: #fff;
  line-height: 1.3;
}

.sub-slogan {
  font-size: 2rem;
  color: #fff;
  line-height: 1;
  font-weight: 200;
}

/* Responsividade */


@media (max-width: 768px) {
  .hero-content {
    margin-left: 20px;
    max-width: 90%;
  }
  .btn-agendar {
    max-width: 50%;

  }
}













